In [6]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\esteban.vergara\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\esteban.vergara\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\esteban.vergara\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\esteban.vergara\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\esteban.vergara\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\esteban.vergara\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [10]:
import pandas as pd

df = pd.read_csv('students.csv')

df

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   40        Chicago
4      Eve   25       New York
5    Frank   28         Boston
6    Grace   22  San Francisco
7    Helen   32    Los Angeles
8      Ivy   29        Chicago
9     Jack   26       New York

In [35]:
def filter_dataframe(df, column, filter):

    operation = filter.split()[0]
    target = ' '.join(filter.split()[1:])

    if target.isnumeric():
        target = float(target)

    if operation == "eq":
        return df[df[column] == target]

    elif operation == "ne":
        return df[df[column] != target]

    elif operation == "lt":
        return df[df[column] < target]

    elif operation == "lte":
        return df[df[column] <= target]

    elif operation == "gt":
        return df[df[column] > target]

    elif operation == "gte":
        return df[df[column] >= target]

In [36]:
# 1. How many students are there in the dataset who are from 'San Francisco'?

# (no) filtered = df.groupby('City').count() # luego saca san francisco

#filtered = df[df['City'] == 'San Francisco']
filtered = filter_dataframe(df, 'City', 'eq San Francisco')

res = len(filtered)

print(res)

2

In [37]:
# 2. What is the average age of students from 'Chicago'?

#filtered = df[df['City'] == 'Chicago']
filtered = filter_dataframe(df, 'City', 'eq Chicago')

# (no) res = filtered.agg({'Age':'mean'}) # queda como df
res = filtered['Age'].mean()

print(res)

34.5

In [38]:
# 3. Create a new DataFrame that contains only the students who are 30 years old or older. How many students meet this criterion?

filtered = filter_dataframe(df, 'Age', 'gte 30')

res = len(filtered)

res

4