1. How many universities are there in the dataset?

2. How many different countries are there?

3. What is the distribition of contries in top 100 universities?

4. What is the average number of students in top 10 universities?

5. Which are the top 10 universities with more than 50% international student?

6. Which are the top 10 universities with a predominantly female presence?

In [2]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\esteban.vergara\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\esteban.vergara\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\esteban.vergara\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\esteban.vergara\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\esteban.vergara\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\esteban.vergara\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('World+University+Rankings+2023.csv')

df

,University Rank,Name of University,Location,No of student,No of student per staff,International Student,Female:Male Ratio,OverAll Score,Teaching Score,Research Score,Citations Score,Industry Income Score,International Outlook Score
0,1,University of Oxford,United Kingdom,"20,965",10.6,42%,48 : 52,96.4,92.3,99.7,99.0,74.9,96.2
1,2,Harvard University,United States,"21,887",9.6,25%,50 : 50,95.2,94.8,99.0,99.3,49.5,80.5
2,3,University of Cambridge,United Kingdom,"20,185",11.3,39%,47 : 53,94.8,90.9,99.5,97.0,54.2,95.8
3,3,Stanford University,United States,"16,164",7.1,24%,46 : 54,94.8,94.2,96.7,99.8,65.0,79.8
4,5,Massachusetts Institute of Technology,United States,"11,415",8.2,33%,40 : 60,94.2,90.7,93.6,99.8,90.9,89.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2336,-,University of the West of Scotland,NaN,NaN,NaN,NaN,NaN,34.0–39.2,24.1,15.5,61.5,37.9,76.8
2337,-,University of Windsor,NaN,NaN,NaN,NaN,NaN,34.0–39.2,35.1,29.4,34.5,44.2,88.7
2338,-,University of Wolverhampton,NaN,NaN,NaN,NaN,NaN,34.0–39.2,18.2,14.3,68.8,37.3,72.0
2339,-,University of Wuppertal,NaN,NaN,NaN,NaN,NaN,34.0–39.2,26.4,26.7,52.8,52.1,47.6
2340,-,Xi’an Jiaotong-Liverpool University,NaN,NaN,NaN,NaN,NaN,34.0–39.2,17.8,14.8,68.2,38.2,72.4

In [5]:
# 1. How many universities are there in the dataset?

res = len(df)

res

2341

In [6]:
# 2. How many different countries are there?

res = len(df.groupby("Location"))

res

116

In [13]:
# 3. What is the distribition of contries in top 100 universities?


#filter_ = (df['University Rank'] != "-") & (df['University Rank'] <= 100)

pos_list = list(map(str, range(0,101)))

filter1 = (df['University Rank'].isin(pos_list))
dftemp1 = df[filter1]

#filter2 = (df['University Rank'] <= 100)
#dftemp2 = dftemp1[filter2]

res = dftemp1.groupby("Location")['Name of University'].count()

res = res.sort_values(ascending=False)

res

Location
United States     34
United Kingdom     7
Germany            6
Australia          4
France             4
Netherlands        4
Switzerland        4
China              3
Canada             2
Japan              2
South Korea        2
Singapore          1
Sweden             1
Name: Name of University, dtype: int64

In [8]:
# 4.1 What is the average number of students in top 10 universities?

pos_list = list(map(str, range(0,11)))

filter1 = (df['University Rank'].isin(pos_list))
dftemp1 = df[filter1]

dftemp1['No of student'] = pd.to_numeric(dftemp1['No of student'].str.replace(',', ''))

res = dftemp1['No of student'].mean()

res

C:\Users\esteban.vergara\AppData\Local\Temp\ipykernel_16652\440365936.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dftemp1['No of student'] = pd.to_numeric(dftemp1['No of student'].str.replace(',', ''))

np.float64(17408.0)

In [9]:
# 4.2 What is the average number of students in top 10 universities?

import pandas as pd

# Supongamos que df es tu DataFrame original
# df = pd.read_csv('tu_archivo.csv')  # Cargar tu DataFrame

# Crear una lista de posiciones (rango de 1 a 10)
pos_list = list(map(str, range(1, 11)))  # Cambiado a enteros del 1 al 10

# Filtrar las universidades en el rango de 1 a 10
filter1 = df['University Rank'].isin(pos_list)
dftemp1 = df[filter1]

# Eliminar comas y transformar la columna 'No of student' a numérico
dftemp1.loc[:, 'No of student'] = pd.to_numeric(dftemp1['No of student'].str.replace(',', ''), errors='coerce')

# Calcular el promedio de estudiantes, ignorando valores NaN
res = dftemp1['No of student'].mean()

print(res)

17408.0

In [ ]:
# 5. Which are the top 10 universities with more than 50% international student?

# Eliminar filas con NaN en la columna 'International Student'
df_cleaned = df.dropna(subset=['International Student'])

df_cleaned.loc[:, 'International Student'] = pd.to_numeric(df_cleaned['International Student'].str.replace('%', ''), errors='coerce')

# Filtrar universidades con más del 50% de estudiantes internacionales
top_international_universities = df_cleaned[df_cleaned['International Student'] > 50]

# Ordenar por el porcentaje de estudiantes internacionales en orden descendente
top_international_universities = top_international_universities.sort_values(by='International Student', ascending=False)

# Seleccionar las 10 universidades principales
top_10_international_universities = top_international_universities.head(10)

top_10_international_universities

# que raro, se le manda una lista al indexador...
#print(top_10_international_universities[['Name of University', 'International Student']])
print(top_10_international_universities['Name of University'].reset_index(drop=True))

0    Paris University of International Education
1                César Ritz Colleges Switzerland
2     Macau University of Science and Technology
3                         London Business School
4                  Constructor University Bremen
5                           Near East University
6                    Central European University
7                               Ajman University
8                      Anglo-American University
9                           Royal College of Art
Name: Name of University, dtype: object

In [22]:
# 6. Which are the top 10 universities with a predominantly female presence?

df['Female Ratio'] = df['Female:Male Ratio'].str.split(':').str[0]

df['Female Ratio'] = pd.to_numeric(df['Female Ratio'], errors='coerce')

df_sorted = df.sort_values(by = 'Female Ratio', ascending=False)

df_res = df_sorted.head(10)

res = df_res["Name of University"].reset_index(drop=True)

res

0                         Sugiyama Jogakuen University
1     Shaheed Benazir Bhutto Women University Peshawar
2                              Nara Women’s University
3                          Mukogawa Women’s University
4    Université Mohamed El Bachir El Ibrahimi de Bo...
5         Government College Women University, Sialkot
6                                Banasthali University
7                                   Alzahra University
8           Lahore College for Women University (LCWU)
9          Princess Nourah bint Abdulrahman University
Name: Name of University, dtype: object